/* Apply smooth scrolling to all elements with an anchor link */
html {
    scroll-behavior: smooth;
}

/* Set font and text color for the entire body */
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

/* Style hyperlinks and their hover effect */
a {
    color: #47b2e4;
    text-decoration: none;
}

a:hover {
    color: #73c5eb;
}

/* Define font family for heading elements */
h1, h2, h3, h4, h5, h6 {
    font-family: "Trebuchet MS", sans-serif;
}

/* Style the top navigation bar */
.navbar {
    background-color: rgba(52, 48, 48, 0.8);
    z-index: 1000;
}

/* Style the brand/logo in the navbar */
.navbar-brand {
    font-size: 1.5rem;
}

/* Style navigation links in the top bar */
.navbar-nav .nav-link {
    color: #746366;
}

.navbar-nav .nav-link:hover {
    color: #f45b69;
}

/* Style icons and active links in the bottom navbar */
.navbar-icons {
    margin-right: 5%;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
}

.navbar-icons a i {
    margin-right: 10px;
}

.navbar-nav .nav-item.active .nav-link {
    color: #ffcc00;
}

/* General styling for sections */
section {
    padding: 60px 0;
    overflow: hidden;
}

/* Set background color for sections with class 'section-bg' */
.section-bg {
    background-color: #f3f5fa;
}

/* Style section titles */
.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative;
    color: #37517e;
}

/* Add decorative lines before and after section titles */
.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-title p {
    margin-bottom: 0;
}
