
html {
    height: 100vh;
    scroll-behavior: smooth;
}


body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    height: 100vh;
}

a {
    color: #47b2e4;
    text-decoration: none;
}

a:hover {
    color: #73c5eb;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Trebuchet MS", sans-serif;
}



/*--------------------------------------------------------------
# Top Navbar Style
--------------------------------------------------------------*/
/* CSS Styling for NavBar */
.navbar {
    background-color: rgb(52, 48, 48); /* semi-transparent background */
    z-index: 1000;
}

.navbar-brand {
    font-size: 1.5rem; /* increase the font size */

}


.navbar-nav .nav-link {
    color: #746366;
}

.navbar-nav .nav-link:hover {
    color: #f45b69; /* fully opaque link text color on hover */
}

/*--------------------------------------------------------------
# Bottom Navbar Style
--------------------------------------------------------------*/
.navbar-icons {
    margin-right: 5%;
}

.navbar-icons {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
}

.navbar-icons a i {
    margin-right: 10px;
}



/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f3f5fa;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}

.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-title p {
    margin-bottom: 0;
}
