<section id="about">
    <div class="about">
        <div class="about-content">
            <!-- Main heading, subheading, and description -->
            <h1>Hi, I'm Al</h1>
            <h3>Ontario Tech Student</h3>
            <p>"A dedicated and inquisitive coder on a perpetual quest to create, innovate, and explore the endless possibilities of technology. Nestled in the heart of Ontario, Canada, I've embarked on an exciting journey as a student at Ontario Tech University, where I'm honing my skills in Networking and IT Programming."</p>

            <!-- Buttons and social media icons -->
            <div id="adjustment">
                <div class="btn-box">
                    <a href="#projects">Projects</a>
                    <a href="#contact">Let's Talk</a>
                </div>
                <div class="about-sci">
                    <a href=""><i class="fa-brands fa-instagram fa-2xl"></i></a>
                    <a href=""><i class="fa-brands fa-github fa-2xl"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin fa-2xl"></i></a>
                </div>
            </div>

            <!-- Video container with a poster image -->
            <div class="video-container">
                <video controls poster="Assets/images/about-thumbnail.png">
                    <source src="Assets/videos/About.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

        <!-- Profile picture section -->
        <div class="profile-picture-container">
            <div id="adjustment_2">
                <!-- Background photo and personal picture -->
                <img src="Assets/images/circle-background.webp" alt="Background Photo" class="background-photo">
                <img src="Assets/images/about-me.png" alt="Personal Picture" class="profile-picture">
            </div>
        </div>
    </div>
</section>
