<!-- Bottom Nav Bar -->
<nav class="navbar fixed-bottom navbar-dark bg-dark fixed-bottom-navbar">
    <h6 class="navbar-text">&copy; Copyright 2023. All Rights reserved</h6>
    <div class="navbar-icons">
        <a href="https://github.com/Al-Scripting" target="_blank">
            <i class="fa-brands fa-github fa-2xl"></i>
        </a>
        <a href="https://www.linkedin.com/in/al-mohamed-shifan-5266b924b/" target="_blank">
            <i class="fa-brands fa-2xl fa-linkedin" id="link"></i>
        </a>
    </div>

</nav>
<!-- Bottom Nav Bar -->