<!-- This is the bottom navigation bar of the website. It contains copyright information and social media icons. -->

<nav class="navbar fixed-bottom navbar-dark bg-dark fixed-bottom-navbar">
    <!-- Copyright text for the footer -->
    <h6 class="navbar-text">&copy; Copyright 2023. All Rights reserved</h6>

    <!-- Container for social media icons -->
    <div class="navbar-icons">
        <!-- GitHub icon with a link to the GitHub profile -->
        <a href="https://github.com/Al-Scripting" target="_blank">
            <i class="fa-brands fa-github fa-2xl"></i>
        </a>

        <!-- LinkedIn icon with a link to the LinkedIn profile -->
        <a href="https://www.linkedin.com/in/al-mohamed-shifan-5266b924b/" target="_blank">
            <i class="fa-brands fa-2xl fa-linkedin" id="link"></i>
        </a>
    </div>
</nav>
<!-- Bottom Nav Bar ends here -->
