<!-- This section contains a form for users to contact the website owner. -->

<section class="contact" id="contact">

    <!-- Heading for the contact section -->
    <h2 class="heading">Contact <span>Me!</span></h2>

    <!-- Form element starts here -->
    <form action="#">
        <!-- Input fields for user information -->
        <div class="input-box">
            <div class="input-field">
                <!-- Input field for full name -->
                <input type="text" placeholder="Full Name" required>
            </div>
            <div class="input-field">
                <!-- Input field for email address -->
                <input type="text" placeholder="Email Address" required>
            </div>
            <div class="input-field">
                <!-- Input field for mobile number -->
                <input type="text" placeholder="Mobile Number" required>
            </div>
            <div class="input-field">
                <!-- Input field for company name -->
                <input type="text" placeholder="Company" required>
            </div>

            <!-- Textarea for user to input their message -->
            <div class="textarea-field">
                <textarea name="" id="" cols="30" rows="10" placeholder="Your Message" required></textarea>
                <!-- A span element for styling the textarea focus effect -->
                <span class="focus"></span>
            </div>

            <!-- Submission button for the form -->
            <div class="sub-box">
                <button>Submit</button>
            </div>

        </div>

    </form>
    <!-- Form element ends here -->

</section>
<!-- Contact section ends here -->
