<!-- Hero Section-->
<section id="home">
    <div class="container">
        <div class="row">
            <!-- Left column containing text content -->
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
                <div data-aos="zoom-out">
                    <!-- Main heading and subheading -->
                    <h1>THIS IS <br> <span> Al Muqshith Shifan </span></h1>
                    <h2>A jack of all trades is a master of none, but often times better than a master of one.</h2>

                    <!-- Call-to-action buttons -->
                    <div class="d-lg-flex">
                        <a href="#about" class="btn-get-started">About</a>
                        <a href="#projects" class="btn-projects">Projects</a>
                        <a href="#contact" class="btn-contacts">Contact Me</a>
                    </div>
                </div>
            </div>

            <!-- Right column containing the hero image -->
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <!-- Hero image displayed on the right side -->
                <img src="Assets/images/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Hero Section-->
